#Por Padrão, em sistemas operacionais em inglês, é sempre C:/Program Files/Google/Chrome/Application/chrome.exe
CHROME_PATH="C:/Program Files/Google/Chrome/Application/chrome.exe"
CHROME_USER_DATA=[Caso utilize conexão via CDP, não é necessário]
GOOGLE_API_KEY=[Your API key to use Gemini AI]
ANONYMIZED_TELEMETRY=false
HF_TOKEN=[Hugging Face - Read/Write Token]